*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.nav{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: #867070;
    z-index: 999999;
}

.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #f5ebeb;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #d5b4b4;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
    text-align: center;
}

.nav div.main_list ul li, .dropbtn{
    width: 120px;
    height: 65px;
    background-color: #867070;
    border: none;
}

.nav div.main_list ul li a, .dropbtn {
    text-decoration: none;
    color: #f5ebeb;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li:hover, .dropbtn:hover{
    background-color: #d5b4b4;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #f5ebeb;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #d5b4b4;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #d5b4b4;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #d5b4b4;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}




@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
    
    .nav div.logo{
        margin-left: 15px;
    }
    
    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    
    .nav div.show_list{
        height: 200px;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color: #867070;
    } 
    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}

/* for search bar */

.search {
    width: 100%;
    background-color: #d5b4b4;
    /* margin: 0 auto; */
  }
  
  .search2 {
    background-color: #f5ebeb;
    /* padding: 10px; */
    border-radius: 5px;
    margin: 20px;
  }
  
  .searchbar input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #d5b4b4;
    font-size: 16px;
    color: #f5ebeb;
    outline: none;
  }
  
  .listofnews {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .listofnews li {
    border-bottom: 1px solid #867070;
  }
  
  .listofnews li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #867070;
  }
  
  .listofnews li:hover {
    background-color: #e4d0d0;
  }
  
  /* Styles for larger screens */
  @media screen and (min-width: 768px) {
    .search {
      /* display: flex; */
      display: flex;
      justify-content: center;
    }
    
    .search2 {
      width: 80%;
      padding: 20px;
    }
    
    .searchbar input[type="text"] {
      width: 100%;
      max-width: 1200px;
      margin: 0;
    }
    
    .listofnews {
      width: 100%;
    }
  }

  /* Dropdown Button */
/* .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */
  
  /* Dropdown button on hover & focus */
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  } */
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 8px 8px 8px 8px;
    border: none;
    border-bottom: 1px solid #e4d0d0;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #f5ebeb;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d5b4b4;
    min-width: 120px;
    border: 1px solid #e4d0d0;
    z-index: 1;
    /* margin-bottom: 10px; */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    /* color: #867070; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #867070
}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}